
body{
    background-color: rgb(159, 165, 168);
    /* margin-top: 100px;
    margin-bottom: 100px; */
    height: 100vh;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url(bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
    
}

.container{
    display: inline;;

}
header{
  text-align: center;
  padding-top: 6vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: 700;
  color: hsl(233, 13%, 49%);
  font-family: 'Montserrat', sans-serif;
}
.toggle{
  display: flex;
  justify-content: center;
  padding: 1vh;
  align-items: center;
  color: hsl(233, 13%, 49%);
  font-weight: 700;

}
.toggle-text{
  padding: 2vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
h2{
    padding-top: 0;
    font-size: 50px;
    text-align: center;
    color: hsl(228, 2%, 50%);
    font:lighter;
}

h5{
    text-align: center;
    font:smaller;
    letter-spacing:200%;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .all_plans{
    display:flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    
  }
  
  .all_plan{
    display: flex;
    flex-direction: column;
    /* border:2px solid #05b10d; */
    background-color: white;
    /* justify-content:space-evenly; */
    align-self: center;
    padding: 4vh;
    border-radius: 10px;
    
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + .all_plan{
    background-color: #FF5733; /* New color when clicked */
  }
  h4{
    text-align: center;
    font: bold;
    font-size: larger;
  }
  h1{
    text-align: center;
  }

  hr{
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
  }
  button{
    text-align: center;
    background-color:hsl(228,45%,44%);
    color: white;
    border-radius:15px;
    width: 300px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 2px;
  }
  
  @media screen and (width>=1440px){

    body{
      background-image: url(bg-bottom.svg),url(bg-top.svg);
      background-repeat: no-repeat;
      background-position: bottom left,top right;
      background-size: auto;

    }
    .all_plans{
        flex-direction: row;
        justify-content:center;
        column-gap: 20px;
    }
  }